<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="china" class="com.delong.spring.ioc.bean_overview.naming_beans.Chinese"/>

    <bean id="american" name="americ,americ2,americ3" class="com.delong.spring.ioc.bean_overview.naming_beans.American"/>

    <alias name="american" alias="zkg"/>
</beans>