<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="chinese" class="com.delong.spring.ioc.dependencies.dependencies_and_configuration_in_detail.null_and_empty_string_values.Chinese">
        <property name="name" value=""/>
        <property name="age" value="200"/>
    </bean>

    <bean id="american" class="com.delong.spring.ioc.dependencies.dependencies_and_configuration_in_detail.null_and_empty_string_values.American">
       <property name="name">
          <null/>
       </property>
        <property name="age" value="111"/>
    </bean>

   </beans>