<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="stronglyCollection"
          class="com.delong.spring.ioc.dependencies.dependencies_and_configuration_in_detail.collections.strongly_collections.StronglyCollections">
        <property name="strList">
            <list>
                <value>ccc</value>
                <value>aaa</value>
                <value>ddd</value>
                <value>111</value>
            </list>
        </property>
    </bean>
</beans>