<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--默认是单例-->
    <bean id="chinese" class="com.delong.spring.ioc.container_overview.instantiating_a_container.Chinese"/>

    <bean id="american" class="com.delong.spring.ioc.container_overview.instantiating_a_container.American"/>
</beans>