<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="chinese" class="com.delong.spring.ioc.bean_overview.instantiating_beans.instantiation_with_a_constructor.Chinese" lazy-init="true"/>

    <bean id="american" class="com.delong.spring.ioc.bean_overview.instantiating_beans.instantiation_with_a_constructor.American"/>
</beans>